<template name="groupManager">
  <div class="container">
    <img src="" alt="" />
    <input type="file" name="test" value="">
    {{#if currentUser}}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-groupCreate">
          Create Group
        </button>
        <input type="text" name="userName">
        <button type="button" class="btn btn-default" name="addUser">
          Add user to group
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3><span>Your group - </span></h3>

      </div>
      <div class="col-md-2"></div>
    </div>
    {{else}}
      <h4>Please login</h4>
    {{/if}}
  </div>

  <div class="modal fade" id="modal-groupCreate" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" id="myModal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">New group registration</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <h4 class="modal-title" id="">Group name: </h4><input type="text" class="form-control" id="groupName">
            </div>
            <div class="col-sm-2">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <h4 class="modal-title" id="">Logo: </h4><input type="file" id="groupLogo">
            </div>
            <div class="col-sm-2">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" name="registrate">Registrate</button>
        </div>
      </div>
    </div>
  </div>
</template>
