<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>Hello</h3>
        <pre>
                                Manual:
          When you login your be abble to create group and events.
          Group creator can add users for group, but user must confirm request or reject it.
          Each group must make it own menu, in link <b>Order menu</b>, if you not in group,
          you will see default menu, you can add remove items from there too.
          Only event creator can change status of event.
          Other users can accept or reject event.
          When status of event change into <b>ordered</b> all users wich accept event will
          recive email.
            For improvements please write to <b><i>maxym.fedas@gmail.com</i></b>

              p.s. please dont try to broke it, there full of bugs, I now it :)
              p.s.s. for corret work please fill all fields.
        </pre>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</template>
