<template name="orderMenu">
  <div class="container">
    <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6 menuHead">
          <h3>Items name:</h3>
        </div>
        <div class="col-md-3 menuHead">
          <h3>Items Price:</h3>
        </div>
      </div>
    {{#if currentUser.profile.group}}
      {{#each itemsOfGroup}}
      <div class="row">
        <div class="col-md-6 menuItem">
          {{name}}
        </div>
        <div class="col-md-3 menuItem">
          {{price}}
        </div>
        <div class="col-md-2 menuEdit">
          <button type="button" name="edit" id="{{_id}}" data-toggle="modal" data-target="#modal-1"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" name="delete" id="{{_id}}"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
      {{/each}}

    {{else}}
      {{#each items}}
      <div class="row">
        <div class="col-md-6 menuItem">
          {{name}}
        </div>
        <div class="col-md-3 menuItem">
          {{price}}
        </div>
        <div class="col-md-2 menuEdit">
          <button type="button" name="edit" id="{{_id}}" data-toggle="modal" data-target="#modal-1"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" name="delete" id="{{_id}}"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>

      {{/each}}
    {{/if}}
    </div>

    <div class="col-md-2"></div>
  </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <input type="button" value="Add new Item" name="addItem" data-toggle="modal" data-target="#modal-1">
    </div>
  </div>

  <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Edit</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9">
              <h4 class="modal-title" id="">Item name: </h4><input type="text" class="form-control" id="itemName">
            </div>
            <div class="col-md-3">
              <h4 class="modal-title" id="">Price: </h4><input type="text" class="form-control" id="itemPrice">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" name="saveChange">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
