<template name="pizzaEvent">
  <div class="container">
    {{#if currentUser}}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <input type="button" value="Make pizza event" data-toggle="modal" data-target="#modal-newPizzaEvent">
      </div>
      <div class="col-md-2"></div>
    </div>

    {{#each events}}
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 event">{{name}} - {{onDate}}</div>
        <div class="col-md-1 eventSelect">
          {{#if compare this.eventCreator currentUser.username}}
          <select size="1" name="orderStatus" data-eventId={{_id}}>
            <option selected disabled>{{status}}</option>
            <option>ordering</option>
            <option>ordered</option>
            <option>delivering</option>
            <option>delivered</option>
          </select>
          {{else}}
            {{status}}
          {{/if}}
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          {{#if userConfirm}}
        Make order:
        <select id="" name="items-{{_id}}" size="1">
          {{#each groupMenu}}
            <option value="{{name}}" data-itemId="{{_id}}" name="">{{name}} - {{price}} $</option>
          {{/each}}
        </select>
        count:
        <input type="number" name="itemCount-{{_id}}" value="1" class="width_35" min="1" max="99">
        <button id="addToChart">add to chart</button>
        <button id="seeOrder" data-toggle="modal" data-target="#modal-seeOrder">Your order</button>
        {{else}}
          <button type="button" class="btn btn-success" name="acceptEvent">Accept</button>
          <button type="button" class="btn btn-warning" name="rejectEvent">Reject</button>
        {{/if}}
        </div>

        <div class="col-md-3"></div>
      </div>
    {{/each}}
    
    {{else}}
      <h4>Please login</h4>
    {{/if}}
  </div>

<!-- Pizza Eevnt modal-->
<div class="modal fade" id="modal-newPizzaEvent" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" id="myModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">New pizza event</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <h4 class="modal-title" id="">Name: </h4><input type="text" class="form-control" id="eventName">
          </div>
          <div class="col-sm-2">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <h4 class="modal-title" id="">On date: </h4><input type="date" class="form-control" id="onDate">
          </div>
          <div class="col-sm-2">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" name="create">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Your Order modal-->
<input type="hidden" name="eventIdtoSeeOrder" value="1">
<div class="modal fade" id="modal-seeOrder" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" id="myModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Your ordered items</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8" name="item">

          </div>
          <div class="col-sm-2">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <input type="text" name="totalCost" value="">
      </div>
    </div>
  </div>
</div>

</template>
